localhost:8881 {
    errors stderr
    log stdout

    gzip

    proxy /api https://reproducible.archlinux.org/ {
        transparent
    }

    proxy / 127.0.0.1:9966 {
        transparent
    }

    proxy /livereload 127.0.0.1:9966 {
	websocket
        transparent
    }
}
